/* Never do this again. */

.bg_pigment {
	background: #31353f;
}

.tech--reactjs {
	background-color:#07b2d4;
}

.tech--postgresql {
	background-color:#085a8a;
}

.tech--expressjs {
	background-color:#818181;
}

.tech--nodejs {
	background-color:#408000;
}

.tech--javascript {
	background-color:#b3a317;
}

.tech--unity {
	background-color:#09131d;
}

.tech--csharp {
	background-color:#07520d;
}

.tech--3d {
	background-color:#4a0053;
}

.tech--2d {
	background-color:#a7531c;
}

.tech--python3 {
	background-color:#063d74;
}

.tech--kivy {
	background-color:#1e271e;
}

.tech--godot {
	background-color:#335477;
}

.tech--gdscript {
	background-color:#2e4155;
}

